/****************************************************************
Normalize
****************************************************************/
dl {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    text-align: left;

    & dt,
    & dd {
        font-size: 1rem;
    }

    & dt {
        font-weight: 500;
    }

    & dd {
        margin-left: 0.5rem;
        margin-bottom: 0.25rem;
    }
}

@media only screen and (max-width: 1024px) {
    dl {
        & dt,
        & dd {
            font-size: 0.875rem;
        }
    }
}

/****************************************************************
Global
****************************************************************/
:root {
  --initial-bg-color: #242424;
  --initial-text-color: rgba(255, 255, 255, 0.87);

  --black: #000000;
  --white: #FFFFFF;

  --butterfly-blue-fill: #38ACEC;
  --butterfly-blue-fill-0\.5: rgb(56 172 236 / 0.5);
  --blue-fill: #0059FF;
  --blue-fill-0\.5: rgb(0 89 255 / 0.5);
  --blue-darker-fill: #123456;
  --blue-darker-fill-0\.5: rgb(18 52 86 / 0.5);
  --yellow-fill: #f9db24;
  --yellow-fill-0\.5: rgb(249 219 36 / 0.5);
  --red-fill: #ff0000;
  --red-fill-0\.5: rgb(255 0 0 / 0.5);
  --black-fill: #000000;
  --black-fill-0\.5: rgb(0 0 0 / 0.5);

  --light-gray-edge: rgb(238 238 238 / 0.75);
  --light-gray-bg: #eeeaea;
  --light-gray-bg-0\.5: rgb(238 234 234 / 0.75);

  --error: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
  --success: #198754;
  /* --error: #ff0033; */
  /* --success: #22bb33; */

  background-color: var(--initial-bg-color);
  color-scheme: light dark;
  color: var(--initial-text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.top-nav-bar {
  z-index: 1000;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
