services:
  all:
    image: alpine
    command: sh -C "echo start"
    depends_on:
      - client
      - mongo
      - nginx
      - server

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
      target: client-dev
    depends_on:
      - server
    env_file: .env
    ports:
      - '5173:5173'
    volumes:
      - /opt/connect-four-app/node_modules
      - ./client:/opt/connect-four-app/client
      - ./.env:/opt/connect-four-app/.env
      - ./.env.test:/opt/connect-four-app/.env.test
      - ./package.json:/opt/connect-four-app/package.json
      - ./yarn.lock:/opt/connect-four-app/yarn.lock

  mongo:
    image: mongo:latest
    container_name: mongo
    env_file: .env
    ports:
      - '${MONGO_PORT}:27017'
    volumes:
      - ./.docker/mongodb/data/db/:/data/db/
      - ./.docker/mongodb/data/log/:/var/log/mongodb/

  nginx:
    build:
      context: .
      dockerfile: nginx-reverse-proxy/Dockerfile
    links:
      - server
    ports:
      - '80:80'
      - '443:443'
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx-reverse-proxy/conf/:/etc/nginx/conf.d/:ro
      - ./nginx-reverse-proxy/certs/:/etc/nginx/ssl/
      # Assets to be served by NGINX
      - ./client/dist/:/etc/nginx/html/
      - ./client/index.html/:/etc/nginx/html/index.html

  server:
    build:
      context: .
      dockerfile: server/Dockerfile
      target: server-dev
    depends_on:
      - mongo
    env_file: .env
    ports:
      - '${SERVER_PORT}:3993'
      - '${WS_PORT}:8090'
    volumes:
      - /opt/connect-four-app/node_modules
      - ./server:/opt/connect-four-app/server
      - ./.env:/opt/connect-four-app/.env
      - ./.env.test:/opt/connect-four-app/.env.test
      - ./package.json:/opt/connect-four-app/package.json
      - ./yarn.lock:/opt/connect-four-app/yarn.lock

  server-test:
    build:
      target: server-test
    env_file: .env.test
    extends: server
#
# networks:
#   main_app:
#     driver: bridge
